[submodule "poc-driver"]
	path = poc-driver
	url = git@github.com:luainkernel/poc-driver.git
[submodule "luadata"]
	path = luadata
	url = git@github.com:luainkernel/luadata.git
[submodule "luaproc"]
	path = luaproc
	url = https://github.com/luainkernel/luaproc
