[submodule "lua"]
	path = lua
	url = https://github.com/luainkernel/lua.git
[submodule "klibc"]
	path = klibc
	url = https://github.com/luainkernel/klibc.git
[submodule "examples/workload/scx"]
	path = examples/workload/scx
	url = https://github.com/sched-ext/scx.git
