[submodule "lua"]
	path = lua
	url = https://github.com/luainkernel/lua.git
[submodule "klibc"]
	path = klibc
	url = https://github.com/luainkernel/klibc.git
[submodule "lunatik_packages"]
	path = lunatik_packages
	url = https://github.com/luainkernel/lunatik_packages.git
