CONFIG_KLIBC=y
CONFIG_KLIBC_ERRLIST=y
CONFIG_KLIBC_ZLIB=y
# CONFIG_KLIBC_ZIP is not set
# i386 option
CONFIG_REGPARM=y
# ARM options
# CONFIG_KLIBC_THUMB is not set
CONFIG_AEABI=y
# CONFIG_DEBUG_INFO is not set
